body {
  margin: 0;
  font-family: "MyFont" !important;
  direction: rtl;
  background-color: #eeeeee !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(iransans.woff) format("woff");
}
